
.heading {
  text-align: left;
}
.blog-table {
  width: 50%;
  padding: 10px;
  text-align: center;
  margin: auto;  
}
table {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
}
td {
  text-align: center;
  padding: 8px;
}

/*
tr:nth-child(even) {
  background-color: #d6dbdb;
}*/
tr:hover {
  background-color: #d6dbdb;
}
.cdk-column-user{
  text-align: left;
  display: block;
  font-weight: 700;
  text-decoration: underline;
}
.cdk-column-title {
  text-align: left;
  font-weight: 800;
  font-size: 16px;
  font-family: sans-serif;
  display: block;
  border-right: hidden;
}
.cdk-column-description {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  font-family: sans-serif;
  display: block;
}
.cdk-column-content {
  font-size: 15px;
  color:#413f3f;
  font-family: sans-serif;
  text-shadow: 2px 2px 6px gray;
  text-align: justify;
  display: block;
}
.cdk-column-likeAndComment {
  font-family: sans-serif;
  color: #a3a2a2;
  display: block;
  text-align: left;
  margin-top: 15px;
  font-size: 14px;
}
.cmt-s {
  color: #faf5f5;
  margin-right: 3px;
  border-radius:2px ;
}
.cmt-v{
  margin-left: 20px;
  text-align: justify;
}
.cdk-column-createdAt {
  display: block;
  text-align: center; 
  font-size: 10px;
  padding: 0px;
  width: 40px;
  color: #797777;
}
#like {
  text-align: center;
  border-radius:2px ;
  color: white;
}

img {
  height: 170px;
  width: 170px;
}

@media only screen and (max-width:600px) {
  .blog-table {
    width: 90%;
    margin:auto;
  }
  td {
    font-size: 12px !important;
  }
  .cdk-column-likeAndComment button {
   font-size: 10px !important;
   padding: 2px; 
  }
  .cdk-column-image img {
    width: 120px;
   height: 120px;
  }
  .cdk-column-createdAt {
    font-size: 8px !important;
  }

  h2 {
    font-size: 20px;
  }
  table {
  background-color: white;
  border-collapse: collapse !important;
}

}

