
  <div class="heading">
    <h1>All Users Blogs </h1>
  </div>

  <ng-template #tipContent >
    <ul *ngFor="let like of blogLikes">
      <li *ngIf="blogLikes.length > 0">{{ like.user.firstName }}</li>
  </ul>
  <ul *ngIf="blogLikes.length == 0">
    <li>no likes</li>
  </ul>
  </ng-template>
  <ng-template #popContent>
    <ul *ngFor="let comment of blogComments">
      <li *ngIf="blogComments.length > 0">{{ comment.user.firstName }}</li>
  </ul>
  <ul *ngIf="blogComments.length == 0">
    <li>no comments</li>
  </ul>
  </ng-template>

  <ng-template #popTitle>
    Comment given by users: 
  </ng-template>


  <div class="blog-table">
    <table>
      <tbody id="tableBody">
        <tr *ngFor="let record of allUsersBlog; let i=index">
          <!--<td class="seqno">{{ i+1 }}</td>-->
          <td class="b-user">Created By: {{ record.user["firstName"]}}</td> 
          <td class="b-title">{{ record.title }}</td>
          <td class="b-descp">{{ record.description }}</td>
          <td class="b-content">{{ record.content }}</td>
          <td class="b-cmt" *ngIf="record.commentItems.length > 0">
            <button type="button" class="btn btn-primary btn-sm pr-1 pl-3" placement="bottom" [ngbTooltip]="tipContent" (mouseover)="getLikes(i)" (click)=increaseLikes(record.id)>
              <span id="like" class="far fa-thumbs-up">
                {{ record.likeItems.length }}
              </span>
            </button>
            <button type="button" class="btn btn-primary ml-3 btn-sm" [ngbPopover]="popContent" [popoverTitle]="popTitle" (click)="getComments(i)">
              <span class="cmt-s">
                Comments {{ record.commentItems.length }}
              </span> 
            </button>
          </td>
          <td class="b-cmt" *ngIf="record.commentItems.length == 0">
            <button type="button" class="btn btn-primary btn-sm pr-1 pl-3" placement="bottom" [ngbTooltip]="tipContent" (mouseover)="getLikes(i)" (click)="increaseLikes(record.id)">
              <span id="like" class="far fa-thumbs-up">{{ record.likeItems.length }}</span>
            </button>
            <button type="button" class="btn btn-primary ml-3 btn-sm" [ngbPopover]="popContent" [popoverTitle]="popTitle" (click)="getComments(i)">
              <span class="cmt-s">
                Comments {{ record.commentItems.length }}
              </span>
            </button>
          </td>
          <td class="b-date">{{ record.createdAt | date: 'MMM dd YYYY'}}</td>
          <td class=b-img   ><img src="./assets/images/nature.jpeg"></td>
        </tr> 
      </tbody>
    </table>
  </div>
 
