
.blog {
 width: 100%;
 margin: 15px;
}
h1 {
  display: inline;
}
.blog button {
  float: right;
  margin-right: 10%;
  margin-top: 1%;
  background-color: orange;
}
.blog-table {
  width: 80%;
  padding: 10px;
  text-align: center;
  margin: auto;
}
table {
  background-color: #f5f7f7;
  border-collapse: collapse ;
  width: 90%;
  margin: auto;
}
.cdk-header-cell {
  text-align: center;
  padding: 10px;
  width: 30%;
  font-weight: bold;
  font-size: 12px; 

}
.cdk-cell {
  text-align: center;
  padding: 10px;
  width: 30%;
  font-size: 12px;
}
.cdk-header-row, .cdk-row {
  display: flex;
  background-color: white;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border: 4px solid #f5f7f7;
  border-radius: 10px;
}
/*tr:nth-child(even) {
  background-color: #d6dbdb;
}*/
cdk-row:hover {
  background-color: #d6dbdb;
  border-color: #be5ff5;
  width: 105%;
  /*overflow-x: visible;*/
}/*
.edit-btn {
  background-color: aqua;
  border-radius: 5px;
  padding:5px 15px;
  box-shadow: 1px 1px 5px #2323f0;
}*/
.cdk-column-user{
  font-weight: 700;
  text-decoration: underline;
}
.cdk-column-title {
  font-weight: 700;
  font-family: sans-serif;
  word-break: break-word;
}
.cdk-column-description {
  font-family: sans-serif;
  word-break: break-word;
}
.cdk-column-content {
  color:#413f3f;
  font-family: sans-serif;
  text-shadow: 2px 2px 6px gray;
  /*text-align: justify;*/
  word-break: break-all;
}
#like {
  border-radius:2px ;
  color: white ;
}

img {
  height: 70px;
  width: 70px;
}
.cdk-column-likeAndComment {
  white-space: nowrap;
}
.btn {
  border: none; 
  font-size: 12px;
  cursor: pointer; 
}
div.dropdown-menu.show {
  padding: 2px;
}
.dropdown-toggle::after {
    content: none;
}
.dropdown-menu {
  width: 100%;
}
.line-x {
  display: none;
}
@media only screen and (max-width:600px) {
  
  .blog-table {
    width: 90%;
    margin:auto;
  }
  td {
    font-size: 12px !important;
  }
  .blog-table table {
    background-color: #f5f7f7;
    border-collapse: collapse !important ;
  }
  h1 {
    font-size: 20px;
  }
  .blog button {
    font-size: 10px;
  }
  .cdk-cell {
    text-align: left;
    padding: 10px;
    width: 100%;
    font-size: 12px;
  }
  .cdk-header-row {
    display: none;
  }
  .cdk-row {
    flex-direction: column;
    align-items: left;
  }
  .cdk-column-likeAndComment {
    font-size: 8px;
  }
  .line-x {
    display: block;
    width: 100%;
    height: 3px;
    color: gray;
  }
  .cdk-column-title {
    width: 50%;
    display: inline !important;
  }
  .cdk-column-description, .cdk-column-content, .cdk-column-likeAndComment,
  .cdk-column-image, .cdk-column-createdAt {
    display: none;
  }
}
