
.blog {
 width: 100%;
 margin: 15px;
}
h1 {
  display: inline;
}
.blog button {
  float: right;
  margin-right: 10%;
  margin-top: 1%;
  background-color: orange;
}
.blog-table {
  width: 80%;
  padding: 10px;
  text-align: center;
  margin: auto;
}
table {
  background-color: white;
  border-collapse: collapse ;
  width: 100%;
}

.cdk-header-cell, .cdk-cell {
  text-align: center;
  padding: 10px;
  width: 20%;
  font-size: 12px;
}
/*tr:nth-child(even) {
  background-color: #d6dbdb;
}*/
tr:hover {
  background-color: #d6dbdb;
}
.edit-btn {
  background-color: aqua;
  border-radius: 5px;
  padding:5px 15px;
  box-shadow: 1px 1px 5px #2323f0;
}
.del-btn {
  background-color: #f04438;
  border-radius: 5px;
  padding:5px 15px;
  box-shadow: 1px 1px 5px #9c1005;
  margin-top: 15px;
}

.b-title {
  text-align: left;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  border-right: hidden;
}
.b-descp {
  text-align: left;
  font-weight: 1000;
  font-size: 20px;
  font-family: sans-serif;
  display: block;
}
.b-content {
  font-size: 15px;
  color:#413f3f;
  font-family: sans-serif;
  text-shadow: 2px 2px 6px gray;
  text-align: justify;
  display: block;
}
.b-cmt {
  font-family: sans-serif;
  color: #a3a2a2;
  display: block;
  text-align: left;
  margin-top: 15px;
  font-size: 14px;
}
.cmt-s {
  color: #faf5f5;
  margin-right: 3px;
  border-radius:2px ;
  display: block;
}
.b-date {
  display: block;
  text-align: center; 
  font-size: 10px;
  padding: 0px;
  width: 40px;
  color: #797777;
}

#like {
  border-radius:2px ;
  color: white ;
}

img {
  height: 70px;
  width: 70px;
}

.b-img button {
  display: block;
}
.cdk-column-likeAndComment {
  white-space: nowrap;
}
@media only screen and (max-width:600px) {
  
  .blog-table {
    width: 90%;
    margin:auto;
  }

  td {
    font-size: 12px !important;
  }

  .b-cmt button {
   font-size: 12px !important;
   padding: 2px; 
  }

  .b-img button {
   font-size: 12px !important;
   padding: 2px; 
   margin-inline: 45% !important;
  }

  .b-img img {
    width: 120px;
   height: 120px;
  }

  .blog-table table {
    background-color: white;
    border-collapse: collapse !important ;
  }

  h1 {
    font-size: 20px;
  }

  .blog button {
    font-size: 10px;
  }
}
