
  <div class="blog">
    <h1>Your Blogs :</h1>
    <button (click)="open()" type="button">Add Blogs</button>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h2 class="modal-title mx-auto text-danger">Warning !</h2>
    </div>
    <div class="modal-body ">
      <p><strong>Do you want to delete the blog ?</strong></p>
    </div>
    <div class="modal-footer">
      <button type="button" ngbAutofocus class="btn btn-danger mr-4" (click)="modal.close('Close click'); deleteBlog()">Yes</button>
      <button type="button" class="btn btn-primary mr-4" (click)="modal.close('Close click')">NO</button>
    </div>
  </ng-template>

  <ng-template #tipContent >
    <ul *ngFor="let like of blogLikes">
      <li *ngIf="blogLikes.length > 0">{{ like.user.firstName }}</li>
  </ul>
  <ul *ngIf="blogLikes.length == 0">
    <li>no likes</li>
  </ul>
  </ng-template>
  <ng-template #popContent>
    <ul *ngFor="let comment of blogComments">
      <li *ngIf="blogComments.length > 0">{{ comment.user.firstName }}</li>
  </ul>
  <ul *ngIf="blogComments.length == 0">
    <li>no comments</li>
  </ul>
  </ng-template>

  <ng-template #popTitle>
    Comment given by users: 
  </ng-template>

<!--  <div class="blog-table">
    <table>
      <tbody id="tableBody">
        <tr *ngFor="let record of currUserBlog; let i=index">
          <td class="seqno">{{ i+1 }}</td> 
         
          <td class="b-title">{{ record.title }}</td>
          <td class="b-descp">{{ record.description }}</td>
          <td class="b-content">{{ record.content }}</td>
          <td class="b-cmt" *ngIf="record.commentItems.length > 0">
            <button type="button" class="btn btn-primary btn-sm" placement="bottom" [ngbTooltip]="tipContent" (mouseover)="getLikes(i)" (click)=increaseLikes(record.id)>
              <span id="like" class="far fa-thumbs-up">
                {{ record.likeItems.length }}
              </span>
            </button>
            <button type="button" class="btn btn-primary ml-3 btn-sm" [ngbPopover]="popContent" [popoverTitle]="popTitle" (click)="getComments(i)">
              <span class="cmt-s">
                Comments {{ record.commentItems.length }}
              </span> 
            </button>
          </td>
          <td class="b-cmt" *ngIf="record.commentItems.length == 0">
            <button type="button" class="btn btn-primary btn-sm" placement="bottom" [ngbTooltip]="tipContent" (mouseover)="getLikes(i)" (click)="increaseLikes(record.id)">
              <span id="like" class="far fa-thumbs-up">{{ record.likeItems.length }}</span>
            </button>
            <button type="button" class="btn btn-primary ml-3 btn-sm" [ngbPopover]="popContent" [popoverTitle]="popTitle" (click)="getComments(i)">
              <span class="cmt-s">
                Comments {{ record.commentItems.length }}
              </span>
            </button> 
          </td>
          <td class="b-img"><img src="./assets/images/nature.jpeg">
            <button (click)="getBlogId(record.id, content)" class="del-btn" class="btn btn-danger mt-3 ml-5" data-toggle="modal" data-target="#exampleModalCenter" type="button">Delete</button>
          </td>
          <td class="b-date">{{ record.createdAt | date: 'MMM dd YYYY'}}</td>
        </tr>
      
      </tbody>
  </table>
 
</div> -->

<div class="blog-table">
  <table cdk-table [dataSource]="tableDataSource$">
    
    <ng-container cdkColumnDef="user">
      <cdk-header-cell *cdkHeaderCellDef> FirstName</cdk-header-cell>
      <cdk-cell *cdkCellDef="let row"> {{ currUser }} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="title">
      <cdk-header-cell *cdkHeaderCellDef> Title </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row"> {{ row.title }} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="description">
      <cdk-header-cell *cdkHeaderCellDef> Description </cdk-header-cell>      
      <cdk-cell *cdkCellDef="let row"> {{ row.description }} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="content">
      <cdk-header-cell *cdkHeaderCellDef> Content </cdk-header-cell>      
      <cdk-cell *cdkCellDef="let row"> {{ row.content }} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="likeAndComment">
      <cdk-header-cell *cdkHeaderCellDef> Likes </cdk-header-cell>      
      <cdk-cell *cdkCellDef="let row; let i=index">
        <button type="button" class="btn btn-primary btn-sm pr-1 pl-1" placement="bottom" [ngbTooltip]="tipContent" (mouseover)="getLikes(i)" (click)=increaseLikes(row.id)>
          <span id="like" class="far fa-thumbs-up">
            {{ row.likeItems.length }}
          </span>
        </button>
       <!-- <button type="button" class="btn btn-primary ml-3 btn-sm" [ngbPopover]="popContent" [popoverTitle]="popTitle" (click)="getComments(i)">
          <span class="cmt-s">
            Comments {{ row.commentItems.length }}
          </span> 
        </button>-->
      </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="createdAt">
      <cdk-header-cell *cdkHeaderCellDef> CreatedAt </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row"> {{ row.createdAt | date: 'MMM dd YYYY' }} </cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="image">
      <cdk-header-cell *cdkHeaderCellDef> Image </cdk-header-cell>
      <cdk-cell *cdkCellDef><img src="./assets/images/nature.jpeg"></cdk-cell>
    </ng-container>

    <ng-container cdkColumnDef="delete">
      <cdk-header-cell *cdkHeaderCellDef> </cdk-header-cell>
      <cdk-cell *cdkCellDef="let row">
        <button (click)="getBlogId(row.id, content)" class="del-btn" class="btn btn-danger mt-3 ml-5" data-toggle="modal" data-target="#exampleModalCenter" type="button">Delete</button>
      </cdk-cell>
    </ng-container>

    <cdk-header-row *cdkHeaderRowDef="displayedColumns"></cdk-header-row>
    <cdk-row *cdkRowDef="let row; columns: displayedColumns;"></cdk-row>
  </table>
</div>
