
.blog {
  float: right;
  margin: 25px 50px;
  
}
.blog button {
  background-color: orange;
}
.table {
  padding: 10px;
  text-align: center;
  margin: auto;
  
}
table {
  //border: 1px solid #dddcdc;
  background-color: white;
  border-collapse: collapse;
  width: 100%;
}
td {
  //border-bottom: 2px solid #5350f8;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d6dbdb;
}
tr:hover {
  background-color: #b0e9ee;
}

