:host {
  background-color: #ffffff;
  width: 60%;
  margin: 5% auto;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 1px 1px 5px #979797;
  display: block;
}
.head {
	text-align: center;
}
.body {
	margin: 2%;
	padding: 5%;
}
.body h6 {
	margin: 2%;
	padding: 2%; 
}
.foot{
	text-align: right;
}
