<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <div class="main">
  <h1><i>{{ title }}</i></h1>
  <form [formGroup]="userSignUp" class="form">
    <div class="row">
      <div class="input col-25">
        <label  for="fname">First Name:</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name=fname required formControlName="fname"  
          placeholder="first name..." [class.is-invalid]="fname.invalid && fname.touched">
        <div *ngIf="fname.errors && (fname.invalid && fname.touched)">
          <small  class="text-danger" *ngIf="fname.errors?.required">First name  is required</small>
          <small  class="text-danger" *ngIf="fname.errors?.minlength">First name  must have 2 characters</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input col-25">
        <label  for="lname">Last Name:</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name=lname required formControlName="lname"  
        placeholder="last name..." [class.is-invalid]="lname.invalid && lname.touched">
        <div *ngIf="lname.errors && (lname.invalid && lname.touched)">
          <small  class="text-danger" *ngIf="lname.errors?.required">Last name  is required</small>
          <small  class="text-danger" *ngIf="lname.errors?.minlength">Last name  must have 2 characters</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input col-25">
        <label  for="email">Email:</label>
      </div>
      <div class="col-75">
        <input type="email" id="email" name=email required formControlName="email"  
        placeholder="email..." [class.is-invalid]="email.invalid && email.touched">
        <div *ngIf="email.errors && (email.invalid && email.touched)">
          <small  class="text-danger" *ngIf="email.errors?.required">Email  is required</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input col-25">
        <label  for="password">Password:</label>
      </div>
      <div class="col-75">
        <input type="password" id="password" name=password required formControlName="password"  
        placeholder="password..." [class.is-invalid]="password.invalid && password.touched">
        <div *ngIf="password.errors && (password.invalid && password.touched)">
          <small  class="text-danger" *ngIf="password.errors?.required">Password is required</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input">
      <a routerLink="/login"> <button id="signup" type="submit" [disabled]="userSignUp.invalid">Sign Up</button></a>
      </div>
    </div>
  </form>
  {{ userSignUp.value | json }}
  </div>
