
  <h1><i>{{ title }}</i></h1>
  <form [formGroup]="userSignUp" class="form" (ngSubmit)="addCurrentUser()">
    <div class="row">
      <div class="input col-25">
        <label  for="firstName">First Name:</label>
      </div>
      <div class="col-75">
        <input type="text" id="firstName" name=firstName formControlName="firstName"  
          placeholder="add first name..." [class.is-invalid]="firstName.invalid && firstName.touched">
        <div *ngIf="firstName.errors && (firstName.invalid && firstName.touched)">
          <small  class="text-danger" *ngIf="firstName.errors?.required">First name  is required</small>
          <small  class="text-danger" *ngIf="firstName.errors?.minlength">First name  must have 2 characters</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input col-25">
        <label  for="lastName">Last name:</label>
      </div>
      <div class="col-75">
        <input type="text" id="lastName" name=lastName formControlName="lastName"  
        placeholder="add last name..." [class.is-invalid]="lastName.invalid && lastName.touched">
        <div *ngIf="lastName.errors && (lastName.invalid && lastName.touched)">
          <small  class="text-danger" *ngIf="lastName.errors?.required">Last name  is required</small>
          <small  class="text-danger" *ngIf="lastName.errors?.minlength">Last name  must have 2 characters</small>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="input col-25">
        <label  for="emailId">email-Id:</label>
      </div>
      <div class="col-75">
        <input type="emailId" id="emailId" name=emailId  formControlName="emailId"  
        placeholder="add email..." [class.is-invalid]="emailId.invalid && emailId.touched">
        <div *ngIf="emailId.errors && (emailId.invalid && emailId.touched)">
          <small  class="text-danger" *ngIf="emailId.errors?.required">Email is required</small>
          <small  class="text-danger" *ngIf="emailId.errors?.pattern">Invalid email</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input col-25">
        <label  for="password">Password:</label>
      </div>
      <div class="col-75">
        <input type="password" id="password" name=password formControlName="password"  
        placeholder="add password..." [class.is-invalid]="password.invalid && password.touched">
        <div *ngIf="password.errors && (password.invalid && password.touched)">
          <small  class="text-danger" *ngIf="password.errors?.required">Password is required</small>
          <small  class="text-danger" *ngIf="password.errors?.pattern">
            <ul>
              <li>Password must have:</li>
              <li>atleast one Capital alphabet</li>
              <li>atleast one  Small alphabet</li>
              <li>atleast one digit</li>
              <li>atleast one special symbol</li>
            </ul>
          </small>
          <small  class="text-danger" *ngIf="password.errors?.minlength">Password must have length of 7</small>
        </div>
      </div>
    </div>
    <div class="c-row">
      <div class="input">
      <small>Already have an account ?<a routerLink="/login">Log In</a></small>
      </div>
    </div>
    <div class="c-row">
      <div class="input">
      <button id="signup" type="submit" [disabled]="userSignUp.invalid" >Sign Up</button>
      </div>
    </div>
  </form>
  {{ userSignUp.value | json }}
  
