.main {
  background-color: white;
  width: 50%;
  margin: 7% auto;
  border-radius: 15px;
  padding:10px;
  box-shadow: 1px 1px 5px rgb(151, 151, 151)
}
h1 {
  font-family: Cursive;
  text-align: center;
}
#signup {
  color: white;
  background-color: rgb(54, 83, 247);;
  border-radius: 5px;
  padding:5px 15px;
  box-shadow: 1px 1px 5px rgb(108, 108, 245);
}
