
  <div class="nav"> 
    <a routerLink="/home" class="active" >Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/usersBlog"> All Blogs</a>
    <div class="drop-down">
      <div class="img-dd">
        <img src="./assets/images/smily.jpeg" alt="smily">
        <div class="img-dd-content">
          <a routerLink="/profile">Profile</a>
          <a (click)="logout()">Log out</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          <a >Profile</a>
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>


