
.blog {
 width: 100%;
 margin: 15px;
}
h1 {
  display: inline;
}
.blog button {
  float: right;
  margin-right: 10%;
  margin-top: 1%;
  background-color: orange;
}
.table {
  padding: 10px;
  text-align: center;
  margin: auto;
  
}
table {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
}
td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d6dbdb;
}
tr:hover {
  background-color: #b0e9ee;
}
.edit-btn {
  background-color: aqua;
  border-radius: 5px;
  padding:5px 15px;
  box-shadow: 1px 1px 5px #2323f0;
}
.del-btn {
  background-color: #f04438;
  border-radius: 5px;
  padding:5px 15px;
  box-shadow: 1px 1px 5px #9c1005;
}

